.header {
  display: flex;
  padding: 16px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  .lamb {
    height: 300px;
    width: 300px;
  }
  .desc {
    margin-top: 200px;
    line-height: 3.5em;
    p {
      color: #fb2e86;
    }
    h1 {
      font-weight: bold;
      font-size: 47px;
    }
  }
  .discount {
    height: 400px;
    width: 400px;
    max-width: 100%;
  }
  button {
    padding: 10px;
    background-color: #fb2e86;
    color: white;
    border: none;
    margin-top: 30px;
  }
}
.featuredProducts {
  text-align: center;
  color: #3f509e;
}
.LeatestProducts {
  text-align: center;
  color: #3f509e;
}
.shopex {
  text-align: center;
  color: #3f509e;
}
.cards {
  display: flex;
  justify-content: space-around;
  padding: 22px;
  margin-top: 40px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  .card {
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    line-height: 1.8;
    p {
      color: #afafaf;
    }
    .work {
      color: #3f509e;
    }
  }
}
.uniqueProducts {
  display: flex;
  justify-content: center;
  background-color: #afafaf29;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  img {
    height: 450px;
    width: 450px;
    max-width: 100%;
  }
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    h1 {
      width: 400px;
      color: #3f509e;
    }
    .inf {
      color: #afafaf;
    }
    .des {
      display: flex;
      align-items: center;
      gap: 6px;
      .red {
        background-color: #fb2e86;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
      .navy {
        background-color: #3f509e;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
      .aqua {
        background-color: #05e6b7;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }
    .addToCart {
      display: flex;
      gap: 10px;
      button {
        background-color: #fb2e86;
        padding: 10px;
        border: none;
        color: white;
        width: 120px;
      }
      .prices {
        color: #3f509e;
        font-weight: bold;
      }
    }
  }
}
.trendingProducts {
  h1 {
    text-align: center;
    color: #3f509e;
  }
  .products {
    display: flex;
    gap: 60px;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    .product {
      display: flex;
      .sale {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          color: #3f509e;
        }
        .a {
          p {
            color: #fb2e86;
            text-decoration: underline;
          }
        }
      }
      img {
        height: 207px;
        width: 213px;
      }
    }
    .chairs {
      .chair {
        display: flex;
        gap: 16px;
        .seatChair {
          font-weight: bold;
          p {
            color: #3f509e;
          }
          .ex-price {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
.discountItem {
  .discount-head {
    text-align: center;
    color: #3f509e;
  }
  .tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  .discounts {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    .discounts-desc {
      display: flex;
      flex-direction: column;
      gap: 14px;
      h2 {
        color: #3f509e;
      }
      .eams {
        color: #fb2e86;
      }
      .lorem {
        color: #afafaf;
        width: 350px;
      }
      .features {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        .feature {
          .check {
            display: flex;
            align-items: center;
            color: #afafaf;
            gap: 6px;
          }
        }
      }
    }
    img {
      height: 420px;
      width: 420px;
    }
    button {
      background-color: #fb2e86;
      padding: 10px;
      border: none;
      color: white;
      width: 120px;
    }
  }
}
.topCategorie {
  h1 {
    color: #3f509e;
    text-align: center;
  }
}
